/* From Uiverse.io by Praashoo7 */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    /* background-color: var(--color-background); */
    border-radius: 25px;
    transition: .4s ease-in-out;
  }
  
  #heading {
    text-align: center;
    color: var(--color-text);
    font-weight: bold;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    /* background-color: var(--color-background); */
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;

    &::placeholder {
      color: var(--color-background);
    }
  }