body {
  background-color: var(--color-background);
  /* background: linear-gradient(to bottom, #212121, #f7eeb0); */
  color: var(--color-text);
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  height: 100%;
}
